body {font-family: helvetica;
text-align: center;}
.title {color: white;
font-size: 70px;
font-weight: bold;}
h2 {font-size: 32px;
font-weight: bold;}
h3 {font-size: 23px;
  font-weight: bold;}
p {font-size: 14px;}
.info {font-size: 23px;
font-weight: bold;
color: white;
background-image: url("../images/the-flatiron-building.png");}
.banner {background-image: url("../images/the-flatiron-building.png");}
.footer {color: white;
  font-size: 11px;
  background-color: dimgray;
text-align: left;}
.btn-nav {font-size: 18px;
color: white;}
